target/classes/practice-dyn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="practice-dynFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/greet" allowedMethods="get" doc:name="HTTP"/>
		<set-payload value="hey #[message.inboundProperties.'http.query.params'.username]" doc:name="Set Payload"/>
	</flow>
	<flow name="practice-dynFlow1">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/greet1" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.query.params'.username == empty]">
				<set-payload value="#['username not entered']" doc:name="Set Payload for invalid username"/>
			</when>
			<otherwise>
				<set-payload value="Hi #[message.inboundProperties.'http.query.params'.username], welcome to C O C O B E A C H." doc:name="Set Payload for valid username"/>
			</otherwise>
		</choice>
	</flow>
</mule>
